*
{
    font-family: "Poppins";
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,0.5)),URL(images/photo-1602045486350-4e53a69865c6.jpeg);
}

p{
    position: relative;
    left: 300px;
    height: 68px;
    width: 640px;
   font-style: initial;
   color: black;
    background-color: rgb(214, 165, 165);
}

.section{
    position: relative;
left: 500px;
top: 150px;
   
    color: whitesmoke;
    
     font-weight: 600;
    
}

table{
    color: wheat;
    width: 45%;
    height: 50%;
   padding-left: 30px;
   padding-top: 30px;
   padding-bottom:30px ;
   padding-right:30px ;
    position: relative;
    right: 140px;
    bottom: 150px;
    border: lavender;
    background-color: rgb(57, 54, 54);
}

h1{
    color: rgb(163, 163, 0);
    font-size: 50px;
    justify-content: center;
    margin-left: 500px;
}
p{
    color:rgb(0, 0, 0);
    font-size: 20px;
    margin-left: 10px;
    padding-left: 15px;

}