*
{
    font-family: "Poppins";
    margin: 0;
    padding: 0;
}
.sub-header1{
    height: 30vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.1),rgba(4,9,30,0.1)),URL(images/pexels-photo-26.jpeg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: rgba(105, 56, 56, 0.509);
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/2782686.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    justify-content: center;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}     
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px;
    position: relative;
}
.nav-links ul li a{
     color: whitesmoke;
     text-decoration: none;
     font-size: 11px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: lightslategray;
    display: block;
    margin: auto;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.ktk{
    width: 90%;
    color: rgb(28, 16, 0);
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.ktk h1{
    font-size: 42px;
    color: rgb(255, 255, 255);
    padding-bottom: 15px;
}
.ktk p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: rgb(0, 0, 0);
}
.ktk img{
    position: relative;
    left: 380px;
    padding-bottom:20px ;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border: 1px solid #3d0000 ;
    padding: 40px 54px;
    background:rgb(188, 195, 202) ;
    position: relative;
    cursor:pointer;
    font-size: 15px;
    border-style: dotted;
    border-color: red;
    bottom: -60px;
    right: 170px;
}
.hero-btn:hover{
border: 1px solid rgb(36, 50, 63);
background: rgb(6, 52, 97);
transition: 1s;
border-style: dotted;
border-color: red;
}

.ktkhome{
    background-image: linear-gradient(rgba(4,9,30,0.6),rgba(4,9,30,0.6)),url(images/pexels-photo-21.jpeg);
}

.homektk{
    width: 90%;
    height: 1300px;
    color: rgb(110, 62, 0);
    position: absolute;
    top: 217%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    background-image: linear-gradient(rgba(4,9,30,0.3),rgba(4,9,30,0.3)),url(images/pexels-photo-23.jpg);
}

.homektk h1{
    font-size: 20px;
    color: gold;
}
.homektk p{
    margin: 10px 0 40px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    line-height: 30px;
}

.homektk h2{
    font-size: 20px; 
    padding-bottom: 10px;
    color: black;
}
.locationkth{
    position: relative;
    top: 1600px;
    left:15px ;
    padding-top: 40px;
}
footer{
    background-color:black;
}

.footercontainerkb{
width: 100%;
padding: 70px 30px 20px;
background-color: #000000;
position: relative;
top: 1610px;
}

.socialiconskb{
    display: flex;
    justify-content: center;
}

.socialiconskb a{
    text-decoration: none;
    padding: 10px;
    background-color: #fff;
    margin: 10px;
    border-radius: 50%;
}

.socialiconskb a i{
    font-size: 2em;
    color: #000000;
    opacity:0.9;
}

.socialiconskb a:hover{
    background-color: #742828;
    transition: 0.5s;
}
.socialiconskb a:hover i{
    color: #a81f1f;
    transition: 0.5s;
}

.footernavkb{
    margin: 30px 0;
}

.footernavkb ul{
    display: flex;
    justify-content: center;
}

.footernavkb ul li a{
    color: #531313;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.footernavkb ul li a:hover{
    opacity: 1s;
}